


<div class="about-main">
  <h2>Peaceとは</h2>
  <p>コロナウイルスに関する情報を発信するためのSNSサービスです。</p>
  <p>被害状況、感染の情報、外出自粛中に行っている事などを投稿することで他のユーザーと情報を共有することができます。</p>
  <p>1人の行動でたくさんの命を救うことができます。このサイトで情報を共有して、できるだけ早くコロナウイルスの感染の収束がされることを心から祈ります。</p>
</div>